<!DOCTYPE html>
<html>
  <head>
    <title>CriptoWallet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>CABEÇALHO - ADM</h1>
      <%= yield %> <%# yield carrega todos os templates da welcome e coin%>
    <h1>RODAPÉ - ADM</h1>
  </body>
</html>
